.signupwrapper{
    display: flex;
    justify-content: center;
}
.signupcard{
    width: 30vw;
    margin-top: 2%;
}
.insta-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    
}
.insta-logo img{
    width: 15vw;
}

@media only screen and (max-width : 620px){
    .signupcard{
        width : 60%
    }
    .insta-login img{
        width : 35%
    }
}